<app-header></app-header>
<main class="">
	<div class="view" style="height: 100vh " >
		<div class="flex-center flex-column">
		  <h1 class="animated fadeIn mb-4">Material Design for Bootstrap (Angular)</h1>

		  <button type="button" class="btn btn-primary waves-light" mdbRippleRadius>Primary</button>

		  <h5 class="animated fadeIn mb-3">Thank you for using our product. We're glad you're with us.</h5>
		  <h6 class="animated fadeIn mb-3">Start browsing <a href="https://mdbootstrap.com/angular">documentation</a>.</h6>

		  <p class="animated fadeIn text-muted">MDB Team</p>
		</div>
	</div>

	
		
		<section class="section team-section pt-5 mt-5 pb-3 mb-5">
			<div class="container">
		    <!--Section heading-->
		    <h2 class="section-heading h1 pt-4 pb-4 text-center">Our amazing team</h2>
		    <!--Section description-->
		    <p class="section-description text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>

		    <!--Grid row-->
		    <div class="row text-center">

		        <!--Grid column-->
		        <div class="col-lg-3 col-md-6 mb-r">

		            <div class="avatar">
		                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" class="rounded-circle z-depth-1" alt="First sample avatar image">
		            </div>
		            <h4>Anna Deynah</h4>
		            <h6 class="font-bold blue-text">Web Designer</h6>
		            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>

		            <!--Facebook-->
		            <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
		            <!--Twitter-->
		            <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
		            <!--Instagram-->
		            <a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a>

		        </div>
		        <!--Grid column-->

		        <!--Grid column-->
		        <div class="col-lg-3 col-md-6 mb-r">

		            <div class="avatar">
		                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded-circle z-depth-1" alt="Second sample avatar image">
		            </div>
		            <h4>John Doe</h4>
		            <h6 class="font-bold blue-text">Web Developer</h6>
		            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>

		            <!--Linkedin-->
		            <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
		            <!--Facebook-->
		            <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
		            <!--Dribbble-->
		            <a class="icons-sm dribbble-ic"><i class="fa fa-dribbble"> </i></a>
		            
		        </div>
		        <!--Grid column-->

		        <!--Grid column-->
		        <div class="col-lg-3 col-md-6 mb-r">

		            <div class="avatar">
		                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle z-depth-1" alt="Third sample avatar image">
		            </div>
		            <h4>Maria Kate</h4>
		            <h6 class="font-bold blue-text">Photographer</h6>
		            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>

		            <!--Facebook-->
		            <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
		            <!--Pinterest-->
		            <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
		            <!--Email-->
		           <a class="icons-sm email-ic"><i class="fa fa-envelope-o"> </i></a>

		        </div>
		        <!--Grid column-->

		        <!--Grid column-->
		        <div class="col-lg-3 col-md-6 mb-r">

		            <div class="avatar">
		                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg" class="rounded-circle z-depth-1" alt="Fourth sample avatar image">
		            </div>
		            <h4>Tom Williams</h4>
		            <h6 class="font-bold blue-text">Front-end Developer</h6>
		            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>

		            <!--Google +-->
		            <a class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a>
		            <!--Facebook-->
		            <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
		            <!--GitHub-->
		            <a class="icons-sm git-ic"><i class="fa fa-github"> </i></a>

		        </div>
		        <!--Grid column-->

		    </div> 
		</div>
		    <!--Grid row-->

		</section>
		<!--Section: Team v.1-->  


		<!--Section: Testimonials v.2-->
		<section class="section text-center pt-5 mt-5 pb-5 mb-5 blue-grey lighten-5">
			<div class="container">
		    <!--Section heading-->
		    <h1 class="section-heading h1 pt-4 pb-4">Testimonials</h1>
		    <!--Section description-->

		    <!--Carousel Wrapper-->
		    <mdb-carousel  class="carousel no-flex testimonial-carousel slide" [animation]="'slide'" [interval]="0">
		        <!--First slide-->
		        <mdb-slide>
		            <div class="testimonial">
		                <!--Avatar-->
		                <div class="avatar">

		                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle img-fluid" alt="First sample avatar image">

		                </div>
		                <!--Content-->
		                <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore cum accusamus eveniet molestias voluptatum inventore laboriosam labore sit, aspernatur praesentium iste impedit quidem dolor veniam.</p>

		                <h4>Anna Deynah</h4>
		                <h6>Founder at ET Company</h6>

		                <!--Review-->
		                <i class="fa fa-star"> </i>
		                <i class="fa fa-star"> </i>
		                <i class="fa fa-star"> </i>
		                <i class="fa fa-star"> </i>
		                <i class="fa fa-star-half-full"> </i>
		            </div>
		        </mdb-slide>
		        <!--/First slide-->
		        <!--Second slide-->
		        <mdb-slide>
		            <div class="testimonial">
		                <!--Avatar-->
		                <div class="avatar">

		                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" class="rounded-circle img-fluid" alt="Second sample avatar image">

		                </div>
		                <!--Content-->
		                <p><i class="fa fa-quote-left"></i> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore. </p>

		                <h4>Maria Kate</h4>
		                <h6>Photographer at Studio LA</h6>

		                <!--Review-->
		                <i class="fa fa-star"> </i>
		                <i class="fa fa-star"> </i>
		                <i class="fa fa-star"> </i>
		                <i class="fa fa-star"> </i>
		                <i class="fa fa-star"> </i>
		            </div>
		        </mdb-slide>
		        <!--/Second slide-->
		        <!--Third slide-->
		        <mdb-slide>
		            <div class="testimonial">
		                <!--Avatar-->
		                <div class="avatar">

		                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle img-fluid" alt="Third sample avatar image">

		                </div>
		                <!--Content-->
		                <p><i class="fa fa-quote-left"></i> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>

		                <h4>John Doe</h4>
		                <h6>Front-end Developer in NY</h6>

		                <!--Review-->
		                <i class="fa fa-star"> </i>
		                <i class="fa fa-star"> </i>
		                <i class="fa fa-star"> </i>
		                <i class="fa fa-star"> </i>
		                <i class="fa fa-star-o"> </i>
		            </div>
		        </mdb-slide>
		        <!--/Third slide-->
		    </mdb-carousel>
		    <!--Carousel Wrapper-->
			</div>
		</section>
		<!--Section: Testimonials v.2-->


		<app-featured-product-slide></app-featured-product-slide>

</main>

<app-footer></app-footer>