<app-header></app-header>


<!--Section: Contact v.2-->
<section class="section">
	<div class="container">
	    <!--Section heading-->
	    <h2 class="section-heading h1 pt-4 text-center">Contact us</h2>
	    <!--Section description-->
	    <p class="section-description text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam. Quia, minima?</p>

	    <div class="row">

	    	<!--Grid column-->
	        <div class="col-md-4 col-xl-3">
	            

	            <ul class="list-group">
					<li class="list-group-item">
						<div class="form-group"><h4>Category</h4></div>
						<div class="form-group">
					        <input name="group1" type="radio" id="radio11" checked="checked">
					        <label for="radio11">Option 1</label>
					    </div>
						<div class="form-group">
							<div class="switch">
							  <label>Off<input type="checkbox"><span class="lever"></span>On</label>
							</div>
						</div>
						<div class="form-group">
						    <input type="checkbox" id="checkbox1" checked="checked">
						    <label for="checkbox1">Classic checkbox</label>
						</div>

					</li>
					<li class="list-group-item">Dapibus ac facilisis in</li>
					<li class="list-group-item">Morbi leo risus</li>
					<li class="list-group-item">Porta ac consectetur ac</li>
					<li class="list-group-item">Vestibulum at eros</li>
				</ul>
            


	        </div>
	        <!--Grid column-->

	        <!--Grid column-->
	        <div class="col-md-8 col-xl-9">
				<section class="section pb-3">				    
				    <!--First row-->
				    <div class="row">

				        <div class="col-lg-4 col-md-12 mb-r">

				            <!--Card-->
				            <div class="card card-cascade wider">

				                <!--Card image-->
				                <div class="view overlay hm-white-slight">
				                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img (55).jpg" class="img-fluid" alt="">
				                    <a>
				                        <div class="mask waves-effect waves-light" mdbRippleRadius></div>
				                    </a>
				                </div>
				                <!--/.Card image-->

				                <!--Card content-->
				                <div class="card-body text-center no-padding">
				                    <!--Category & Title-->
				                    <a href="" class="text-muted">
				                        <h5>Camera</h5>
				                    </a>
				                    <h4 class="card-title"><strong><a href="">GoPro</a></strong></h4>

				                    <!--Description-->
				                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing minima veniam elit. Nam incidunt eius est voluptatibus.
				                    </p>

				                    <!--Card footer-->
				                    <div class="card-footer">
				                        <span class="left">39$</span>
				                        <span class="right">
				                            <a placement="top" mdbTooltip="Quick Look" container="body"><i class="fa fa-eye"></i></a>
				                            <a placement="top"  mdbTooltip="Add to Wishlist" container="body"><i class="fa fa-heart"></i></a>
				                        </span>
				                    </div>

				                </div>
				                <!--/.Card content-->

				            </div>
				            <!--/.Card-->
				        </div>

				        <div class="col-lg-4 col-md-6 mb-r">

				            <!--Card-->
				            <div class="card card-cascade wider">

				                <!--Card image-->
				                <div class="view overlay hm-white-slight">
				                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(49).jpg" class="img-fluid" alt="">
				                    <a>
				                        <div class="mask waves-effect waves-light" mdbRippleRadius></div>
				                    </a>
				                </div>
				                <!--/.Card image-->

				                <!--Card content-->
				                <div class="card-body text-center no-padding">
				                    <!--Category & Title-->
				                    <a href="" class="text-muted">
				                        <h5>Photography</h5>
				                    </a>
				                    <h4 class="card-title"><strong><a href="">Camera</a></strong></h4>

				                    <!--Description-->
				                    <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.
				                    </p>

				                    <!--Card footer-->
				                    <div class="card-footer">
				                        <span class="left">49$</span>
				                        <span class="right">
				                            <a placement="top" mdbTooltip="Quick Look" container="body"><i class="fa fa-eye"></i></a>
				                            <a class="active" placement="top"  mdbTooltip="Added to Wishlist" container="body"><i class="fa fa-heart"></i></a>
				                        </span>
				                    </div>

				                </div>
				                <!--/.Card content-->

				            </div>
				            <!--/.Card-->
				        </div>

				        <div class="col-lg-4 col-md-6 mb-r">

				            <!--Card-->
				            <div class="card card-cascade wider">

				                <!--Card image-->
				                <div class="view overlay hm-white-slight">
				                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img (56).jpg" class="img-fluid" alt="">
				                    <a>
				                        <div class="mask waves-effect waves-light" mdbRippleRadius></div>
				                    </a>
				                </div>
				                <!--/.Card image-->

				                <!--Card content-->
				                <div class="card-body text-center no-padding">
				                    <!--Category & Title-->
				                    <a href="" class="text-muted">
				                        <h5>Smartphone</h5>
				                    </a>
				                    <h4 class="card-title"><strong><a href="">iPhone 6S</a></strong></h4>

				                    <!--Description-->
				                    <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
				                        non numquam.
				                    </p>

				                    <!--Card footer-->
				                    <div class="card-footer">
				                        <span class="left">69$</span>
				                        <span class="right">
				                            <a placement="top" mdbTooltip="Quick Look" container="body"><i class="fa fa-eye"></i></a>
				                            <a placement="top"  mdbTooltip="Add to Wishlist" container="body"><i class="fa fa-heart"></i></a>
				                        </span>
				                    </div>

				                </div>
				                <!--/.Card content-->

				            </div>
				            <!--/.Card-->
				        </div>

				        <div class="col-lg-4 col-md-6 mb-r">

				            <!--Card-->
				            <div class="card card-cascade wider">

				                <!--Card image-->
				                <div class="view overlay hm-white-slight">
				                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img (56).jpg" class="img-fluid" alt="">
				                    <a>
				                        <div class="mask waves-effect waves-light" mdbRippleRadius></div>
				                    </a>
				                </div>
				                <!--/.Card image-->

				                <!--Card content-->
				                <div class="card-body text-center no-padding">
				                    <!--Category & Title-->
				                    <a href="" class="text-muted">
				                        <h5>Smartphone</h5>
				                    </a>
				                    <h4 class="card-title"><strong><a href="">iPhone 6S</a></strong></h4>

				                    <!--Description-->
				                    <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
				                        non numquam.
				                    </p>

				                    <!--Card footer-->
				                    <div class="card-footer">
				                        <span class="left">69$</span>
				                        <span class="right">
				                            <a placement="top" mdbTooltip="Quick Look" container="body"><i class="fa fa-eye"></i></a>
				                            <a placement="top"  mdbTooltip="Add to Wishlist" container="body"><i class="fa fa-heart"></i></a>
				                        </span>
				                    </div>

				                </div>
				                <!--/.Card content-->

				            </div>
				            <!--/.Card-->
				        </div>

				        <div class="col-lg-4 col-md-6 mb-r">

				            <!--Card-->
				            <div class="card card-cascade wider">

				                <!--Card image-->
				                <div class="view overlay hm-white-slight">
				                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img (56).jpg" class="img-fluid" alt="">
				                    <a>
				                        <div class="mask waves-effect waves-light" mdbRippleRadius></div>
				                    </a>
				                </div>
				                <!--/.Card image-->

				                <!--Card content-->
				                <div class="card-body text-center no-padding">
				                    <!--Category & Title-->
				                    <a href="" class="text-muted">
				                        <h5>Smartphone</h5>
				                    </a>
				                    <h4 class="card-title"><strong><a href="">iPhone 6S</a></strong></h4>

				                    <!--Description-->
				                    <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
				                        non numquam.
				                    </p>

				                    <!--Card footer-->
				                    <div class="card-footer">
				                        <span class="left">69$</span>
				                        <span class="right">
				                            <a placement="top" mdbTooltip="Quick Look" container="body"><i class="fa fa-eye"></i></a>
				                            <a placement="top"  mdbTooltip="Add to Wishlist" container="body"><i class="fa fa-heart"></i></a>
				                        </span>
				                    </div>

				                </div>
				                <!--/.Card content-->

				            </div>
				            <!--/.Card-->
				        </div>

				        <div class="col-lg-4 col-md-6 mb-r">

				            <!--Card-->
				            <div class="card card-cascade wider">

				                <!--Card image-->
				                <div class="view overlay hm-white-slight">
				                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img (56).jpg" class="img-fluid" alt="">
				                    <a>
				                        <div class="mask waves-effect waves-light" mdbRippleRadius></div>
				                    </a>
				                </div>
				                <!--/.Card image-->

				                <!--Card content-->
				                <div class="card-body text-center no-padding">
				                    <!--Category & Title-->
				                    <a href="" class="text-muted">
				                        <h5>Smartphone</h5>
				                    </a>
				                    <h4 class="card-title"><strong><a href="">iPhone 6S</a></strong></h4>

				                    <!--Description-->
				                    <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
				                        non numquam.
				                    </p>

				                    <!--Card footer-->
				                    <div class="card-footer">
				                        <span class="left">69$</span>
				                        <span class="right">
				                            <a placement="top" mdbTooltip="Quick Look" container="body"><i class="fa fa-eye"></i></a>
				                            <a placement="top"  mdbTooltip="Add to Wishlist" container="body"><i class="fa fa-heart"></i></a>
				                        </span>
				                    </div>

				                </div>
				                <!--/.Card content-->

				            </div>
				            <!--/.Card-->
				        </div>

				        <div class="col-lg-4 col-md-6 mb-r">

				            <!--Card-->
				            <div class="card card-cascade wider">

				                <!--Card image-->
				                <div class="view overlay hm-white-slight">
				                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img (56).jpg" class="img-fluid" alt="">
				                    <a>
				                        <div class="mask waves-effect waves-light" mdbRippleRadius></div>
				                    </a>
				                </div>
				                <!--/.Card image-->

				                <!--Card content-->
				                <div class="card-body text-center no-padding">
				                    <!--Category & Title-->
				                    <a href="" class="text-muted">
				                        <h5>Smartphone</h5>
				                    </a>
				                    <h4 class="card-title"><strong><a href="">iPhone 6S</a></strong></h4>

				                    <!--Description-->
				                    <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
				                        non numquam.
				                    </p>

				                    <!--Card footer-->
				                    <div class="card-footer">
				                        <span class="left">69$</span>
				                        <span class="right">
				                            <a placement="top" mdbTooltip="Quick Look" container="body"><i class="fa fa-eye"></i></a>
				                            <a placement="top"  mdbTooltip="Add to Wishlist" container="body"><i class="fa fa-heart"></i></a>
				                        </span>
				                    </div>

				                </div>
				                <!--/.Card content-->

				            </div>
				            <!--/.Card-->
				        </div>

				        <div class="col-lg-4 col-md-6 mb-r">

				            <!--Card-->
				            <div class="card card-cascade wider">

				                <!--Card image-->
				                <div class="view overlay hm-white-slight">
				                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img (56).jpg" class="img-fluid" alt="">
				                    <a>
				                        <div class="mask waves-effect waves-light" mdbRippleRadius></div>
				                    </a>
				                </div>
				                <!--/.Card image-->

				                <!--Card content-->
				                <div class="card-body text-center no-padding">
				                    <!--Category & Title-->
				                    <a href="" class="text-muted">
				                        <h5>Smartphone</h5>
				                    </a>
				                    <h4 class="card-title"><strong><a href="">iPhone 6S</a></strong></h4>

				                    <!--Description-->
				                    <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
				                        non numquam.
				                    </p>

				                    <!--Card footer-->
				                    <div class="card-footer">
				                        <span class="left">69$</span>
				                        <span class="right">
				                            <a placement="top" mdbTooltip="Quick Look" container="body"><i class="fa fa-eye"></i></a>
				                            <a placement="top"  mdbTooltip="Add to Wishlist" container="body"><i class="fa fa-heart"></i></a>
				                        </span>
				                    </div>

				                </div>
				                <!--/.Card content-->

				            </div>
				            <!--/.Card-->
				        </div>

				        <div class="col-lg-4 col-md-6 mb-r">

				            <!--Card-->
				            <div class="card card-cascade wider">

				                <!--Card image-->
				                <div class="view overlay hm-white-slight">
				                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img (56).jpg" class="img-fluid" alt="">
				                    <a>
				                        <div class="mask waves-effect waves-light" mdbRippleRadius></div>
				                    </a>
				                </div>
				                <!--/.Card image-->

				                <!--Card content-->
				                <div class="card-body text-center no-padding">
				                    <!--Category & Title-->
				                    <a href="" class="text-muted">
				                        <h5>Smartphone</h5>
				                    </a>
				                    <h4 class="card-title"><strong><a href="">iPhone 6S</a></strong></h4>

				                    <!--Description-->
				                    <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
				                        non numquam.
				                    </p>

				                    <!--Card footer-->
				                    <div class="card-footer">
				                        <span class="left">69$</span>
				                        <span class="right">
				                            <a placement="top" mdbTooltip="Quick Look" container="body"><i class="fa fa-eye"></i></a>
				                            <a placement="top"  mdbTooltip="Add to Wishlist" container="body"><i class="fa fa-heart"></i></a>
				                        </span>
				                    </div>

				                </div>
				                <!--/.Card content-->

				            </div>
				            <!--/.Card-->
				        </div>

				    </div>
				</section>
	        </div>
	    </div>
    </div>
</section>
<app-footer></app-footer>